page-home {
<<<<<<< HEAD
     .content{
        background-color:color($colors,light);
        .img{
            border-radius:50%;
             height: 90px;
             width: 100px; 
        }
        .list{
           
            .EM{
                background-color:color($colors,secondary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .House{
                background-color:rgb(14, 92, 122);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .hipop{
                background-color: color($colors,primary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Gqom{
                background-color: rgb(17, 88, 105);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Kwaito{
                background-color:color($colors,secondary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .RNB{
                background-color:color($colors,primary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .DH{
                background-color:rgb(17, 88, 105);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .CH{
                background-color: rgb(14, 92, 122);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Jazz{
                background-color: color($colors,secondary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Soul{
                background-color: rgb(17, 88, 105);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Accapella{
                background-color:color($colors,primary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Rock{
                background-color: rgb(14, 92, 122);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Disco{
                background-color:rgb(17, 88, 105);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Reggae{
                background-color:color($colors,primary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
            .Gospel{
                background-color:color($colors,secondary);
                padding:20px;
                border-radius: 10px;
                .card-header{
                    font-size: x-large;
                    color: white
                }
                .icon{
                    color: white;
                    size: 50px;
                }
            }
        }
        .scoll-content{
            overflow:scroll;
        }
     }
=======
.list{
    .card{
        padding: 30px;
    }
>>>>>>> 61b2898104177cb6d1f6fbb51c3da7b3483e42f4
}
.scoll-content{
    overflow:v;
}
}
