<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add DJ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content" >

  <div class="container"> 

    <ion-item class="items">
      <ion-label  floating >Email</ion-label>
      <ion-input class="input" [(ngModel)]="email" type="text" ></ion-input>
    </ion-item>

    <ion-item class="items" >
      <ion-label  floating >Stage Name</ion-label>
      <ion-input class="input" [(ngModel)]="stageName" type="text" ></ion-input>
    </ion-item>

    <ion-item class="items" >
        <ion-label  floating >Description</ion-label>
        <ion-input class="input" [(ngModel)]="desc" type="text" text-wrap></ion-input>
    </ion-item>

    <ion-item class="items">
      <ion-label>Genre</ion-label>
      <ion-select  [(ngModel)]="genre" >
      <ion-option  *ngFor ="let cat of category; let i=index ">{{category[i]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="items">
      <ion-label>Location</ion-label>
      <ion-select   [(ngModel)]="Location" >
      <ion-option  *ngFor ="let townships of town; let i=index ">{{town[i]}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="items" >
      <ion-label  floating >Price per hour</ion-label>
      <ion-input class="input" [(ngModel)]="priceHour" type="number" ></ion-input>
    </ion-item>

    <ion-item class="items">
        <ion-label  floating >Facebook Link</ion-label>
        <ion-input class="input" [(ngModel)]="facebookLink" type="text" ></ion-input>
    </ion-item>
  
    <button ion-button block round  id="button" (click)="SaveUserData()">Add</button>
    
</div>
</ion-content>

